.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.card {
  max-width: 600;
  text-align: center;
}

.media {
  transition: opacity 0.2s ease-in-out;
}

.transitioning {
  opacity: 0;
}

.controls {
  display: flex;
  justify-content: center;
}
