form {
  display: flex;
  flex-direction: column;
  margin: 2rem 10rem;
}

form > div:first-child {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  margin-top: 16px;
  justify-content: center;
  display: flex;
}

.textField {
  width: 100%;
  margin: 0px;
}

.picker {
  margin: 0px;
}

h2 {
  margin: 20px;
  width: 100%;
}
